@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9jw0xt');
  src:  url('fonts/icomoon.eot?9jw0xt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9jw0xt') format('truetype'),
    url('fonts/icomoon.woff?9jw0xt') format('woff'),
    url('fonts/icomoon.svg?9jw0xt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\e900";
}
.icon-bubble:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\e902";
}
.icon-css3:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-figma:before {
  content: "\e905";
}
.icon-github:before {
  content: "\e906";
}
.icon-graduation:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-html5:before {
  content: "\e909";
}
.icon-java:before {
  content: "\e90a";
}
.icon-javascript:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-nextjs:before {
  content: "\e90e";
}
.icon-nodedotjs:before {
  content: "\e90f";
}
.icon-oracle:before {
  content: "\e910";
}
.icon-python:before {
  content: "\e911";
}
.icon-react:before {
  content: "\e912";
}
.icon-rocket:before {
  content: "\e913";
}
.icon-sass:before {
  content: "\e914";
}
.icon-sql:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-typescript:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-website:before {
  content: "\e919";
}
.icon-amazonaws:before {
  content: "\e91a";
}
