:root {
  --black: #000000;
  --violet-dark: #261932;
  --violet: #82589f;
  --violet-light: #d3cadd;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--violet-dark);

  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  gap: 1rem;
}

.title {
  font: 400 2.5rem "Ubuntu", sans-serif;
  color: var(--black);
}

.container {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

span.title-violet {
  color: var(--violet);

  text-align: justify;
}

h3.title-sections {
  font: 700 1.8rem "Ubuntu", sans-serif;
  color: var(--violet-light);
  margin: 1rem 0 1rem 0;

  text-align: justify;
}

p.paragraph-sections {
  font: 400 1.125rem "Ubuntu", sans-serif;
  color: var(--violet-light);
  margin: 1rem 0 1rem 0;

  text-align: justify;
}

/*===========================MENU MOBILE===========================*/

.tela-menu {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  opacity: 0;
  visibility: hidden;

  z-index: 100;
}

.tela-menu .menu {
  margin: 0;
  background: var(--white);

  width: 90%;
  height: 95%;

  border-radius: 0.375rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tela-menu .menu ul {
  padding: 0;
  color: var(--black);
}

.tela-menu .menu a.title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4rem 0 4rem 0;

  cursor: pointer;
}

.tela-menu .menu a:hover {
  color: var(--violet);
  transition: 0.3s;
}

.tela-menu .close-menu {
  font-size: 2rem;
  color: var(--black);
  top: 3rem;
  right: 3rem;
  position: absolute;

  cursor: pointer;
}

.tela-menu .close-menu:hover {
  color: var(--violet);
  transition: 0.3s;
}

.icon-menu {
  cursor: pointer;
}

.active {
  opacity: 1;
  visibility: visible;
}

.corpo {
  margin-bottom: 5.5rem;
}

/*===========================TOPO DA PÁGINA===========================*/
.top-page {
  margin: 1rem 0 0 0;
  position: fixed;
  top: 0;
  left: 2%;
  right: 2%;
  z-index: 0;

  background: var(--white);

  border-radius: 0.375rem;
}

.title-page {
  margin: 0;

  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 2.5rem;
}

.title-page a {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: var(--black);
}

.title-page a:hover {
  color: var(--violet);
  transition: 0.3s;
}

.title-page h3 {
  margin-left: 1rem;
  font: 400 1rem "Ubuntu", sans-serif;
  color: var(--black);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*===========================CONTEUDO INICIO DA PAGINA===========================*/
.inactive {
  display: none;
}

#main {
  margin-top: 5.5rem;

  height: 100%;
  width: auto;
}

#main .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inicio img {
  margin-top: 3.125rem;

  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 0.25rem solid var(--violet-light);
}

#main .conteudo {
  margin-top: 3.75rem;
  text-align: center;
}

.conteudo .informacoes h3 {
  font: 700 2rem "Ubuntu", sans serif;
  color: var(--violet-light);

  margin: 0 0 1.5rem 0;
}

.conteudo .informacoes p {
  font: 400 1.125rem "Ubuntu", sans serif;
  color: var(--violet-light);

  margin: 0;
}

.conteudo .midias-sociais {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.25rem 1rem 0 1rem;
}

.midias-sociais .midia {
  font-size: 2.5rem;
  color: var(--violet-light);

  transition: 0.3s;
}
.midias-sociais .midia:hover {
  color: var(--violet);
}
/*===========================CONTEUDO SOBRE DA PAGINA===========================*/

.habilidades-profissionais {
  display: flex;
  flex-flow: row wrap;

  gap: 0.625rem;
}

span.habilidades {
  font: 400 1rem "Ubuntu", sans serif;
  color: var(--violet-light);

  background-color: var(--violet);
  border-radius: 0.5rem;

  display: flex;

  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  width: fit-content;
  height: fit-content;
}

/*===========================CONTEUDO RESUMO DA PAGINA===========================*/

.historicos-educacionais {
  margin: 1rem 0 1rem 0;

  display: flex;
  flex-direction: column;
}

.historicos-educacionais .periodo-historicos {
  margin: 0.5rem 0 0.5rem 0;
}

.historicos-educacionais .periodo-historicos p {
  margin: 0;
  font-size: 1rem;
}

.historicos-educacionais .descricao-historicos {
  display: flex;
  flex-direction: column;
}

.historicos-educacionais .descricao-historicos p {
  margin: 0.125rem 0 0.125rem 0;
}

.historicos-educacionais .descricao-historicos p:first-child {
  font-size: 1.125rem;
}

.historicos-educacionais p {
  font: 400 0.875rem "Ubuntu", sans serif;
  color: var(--violet-light);
}

.historicos-educacionais div.divisor {
  margin: 0.5rem 0 0.5rem 0;

  width: 3rem;

  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: var(--violet);
  border-radius: 4px;
}

/******************/

.historicos-profissionais {
  margin: 1rem 0 1rem 0;

  display: flex;
  flex-direction: column;
}

.historicos-profissionais .periodo-historicos {
  margin: 0.5rem 0 0.5rem 0;
}

.historicos-profissionais .periodo-historicos p {
  margin: 0;
  font-size: 1rem;
  text-align: justify;
}

.historicos-profissionais .descricao-historicos {
  display: flex;
  flex-direction: column;
}

.historicos-profissionais .descricao-historicos p {
  margin: 0.125rem 0 0.125rem 0;
  text-align: justify;
}

.historicos-profissionais .descricao-historicos p:first-child {
  font-size: 1.125rem;
  text-align: justify;
}

.historicos-profissionais .sobre-historicos p {
  font: 400 1rem "Ubuntu", sans serif;
  font-style: italic;
  text-align: justify;
}

.historicos-profissionais .sobre-historicos span {
  font-size: 1.5rem;
  font-style: normal;
  color: var(--violet);
}

.historicos-profissionais p {
  font: 400 0.875rem "Ubuntu", sans serif;
  color: var(--violet-light);
  text-align: justify;
}

.historicos-profissionais div.divisor {
  margin: 0.5rem 0 0.5rem 0;

  width: 3rem;

  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: var(--violet);
  border-radius: 4px;
}

/******************/

.apps .app {
  margin: 0.5rem 0 0.5rem 0;

  display: flex;
  align-items: center;
}

.apps .app .progress-bar {
  width: 100%;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 15px;
}
progress[value]::-webkit-progress-bar {
  background-color: var(--violet-light);
  border-radius: 0.375rem;
}
progress[value]::-webkit-progress-value {
  background-color: var(--violet);
  border-radius: 0.375rem;
  background-size: 20px 15px, 100% 100%, 100% 100%;
}

.apps div .progress-habilidade {
  margin-left: 0.5rem;

  display: flex;
  flex: 1;
  flex-flow: column;
}

.apps div {
  font: 400 1.125rem "Ubuntu", sans serif;
  color: var(--violet-light);
}

.apps .app span {
  font-size: 2.5rem;
  color: var(--violet-light);
}

/*===========================CONTEUDO PORTFOLIO DA PAGINA===========================*/

#portfolio .top-page {
  z-index: 1;
}

.cards-projeto {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  gap: 1.5rem;
}

.cards-projeto .card {
  border: 0.125rem;
  border-color: var(--violet);
  border-radius: 0.375rem;
  border-style: solid;

  width: auto;
  height: auto;
  height: 25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.cards-projeto .card::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 202, 2021, 0.08);
  z-index: -100;

  transition: 1s;
  transition-timing-function: cubic-bezier(0.32, 0.32, 0.1, 0.8);
}

.cards-projeto .card:hover::before {
  width: 0%;
}

.cards-projeto .card .card-title {
  font: 400 1.125rem "Ubuntu", sans serif;
  text-align: center;

  cursor: context-menu;
}

.cards-projeto .card .card-title h3 {
  font: 400 1.5rem "Ubuntu", sans serif;
  color: var(--violet-light);
}

.cards-projeto .card .card-title p {
  font: 400 1rem "Ubuntu", sans serif;
  color: var(--violet-light);

  text-align: justify;
}

.cards-projeto .card .card-title h3,
.cards-projeto .card .card-title p {
  margin: 1.25rem 0.5rem 1.25rem 0.5rem;
}

.cards-projeto .card .card-link {
  font-size: 2rem;
  text-align: center;

  margin: 1rem 0 1rem 0;
}

.cards-projeto .card .card-link a {
  color: var(--violet-light);
  margin: 0 1rem 0 1rem;
}

.cards-projeto .card .card-link a:hover {
  color: var(--violet);
  transition: 0.3s;
}

/*===========================CONTEUDO CONTATO DA PAGINA===========================*/

.formulario-contato {
  border: 1px solid var(--violet);
  border-radius: 0.375rem;
}

.formulario-contato .status {
  position: fixed;
  top: 1rem;
  z-index: 200;
  width: 350px;
  right: 2%;
  text-align: center;
  padding: 0.8rem;

  border-radius: 0.375rem;

  font: 400 0.8rem "Ubuntu", sans serif;

  color: var(--black);

  background-color: var(--violet-light);

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}

.formulario-contato .status-positive {
  background-color: #32ff7e;
  color: var(--black);

  visibility: visible;
  opacity: 1;

  transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s;
}

.formulario-contato .status-negative {
  background-color: #ff4d4d;
  color: var(--white);

  visibility: visible;
  opacity: 1;

  transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s;
}

.formulario-contato form div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.formulario-contato div label {
  font: 400 1rem "Ubuntu", sans serif;
  color: var(--violet-light);
  margin: 0.125rem 0rem 0.125rem 0rem;
}

.formulario-contato div input,
.formulario-contato div textarea {
  border-radius: 0.25rem;
  border: none;
  outline: none;

  padding: 0.25rem;

  font: 400 1rem "Ubuntu", sans serif;

  resize: none;

  background-color: var(--violet-light);
}

.formulario-contato .botao-formulario {
  text-align: center;
}

.formulario-contato .botao-formulario button {
  font: 700 1.125rem "Ubuntu", sans serif;
  color: var(--violet-dark);

  border: none;
  outline: none;
  border-radius: 0.25rem;

  width: fit-content;
  height: auto;

  padding: 0.5rem 2rem;

  margin: 0.75rem 0 0.75rem 0;

  background-color: var(--violet-light);

  cursor: pointer;

  align-items: center;

  transition: 0.3s ease color;
}

.formulario-contato .botao-formulario button:hover {
  color: var(--violet);
}

.informacoes-contato .tel a,
.informacoes-contato .email a {
  text-decoration: none;
  color: var(--violet);
}

.informacoes-contato .tel,
.informacoes-contato .email {
  border: 1px solid var(--violet);
  padding: 0.5rem;

  margin: 0.75rem 0 0.75rem 0;
  border-radius: 0.375rem;
}

/*===========================RODAPE DA PAGINA===========================*/

#footer {
  position: fixed;
  margin-bottom: 1rem;
  bottom: 0;
  left: 2%;
  right: 2%;
  background: var(--white);
  text-align: center;

  height: 2.5rem;

  border-radius: 0.375rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#footer section p {
  margin: 0;

  font: 700 0.7rem "Ubuntu", sans serif;
  color: var(--black);
}

/*===========================RESPONSIVIDADE===========================*/

@media (min-width: 768px) {
  /*===========================MENU===========================*/
  .menu .title {
    font: 400 3rem "Ubuntu", sans-serif;
    color: var(--black);
  }

  .tela-menu .close-menu {
    top: 3rem;
    right: 4rem;

    font-size: 2.5rem;
  }
}

@media (min-width: 1023px) {
  /*===========================MENU===========================*/
  .tela-menu .close-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .top-page {
    visibility: hidden;
    opacity: 0;
  }

  .tela-menu {
    top: 0;
    bottom: 0;
    left: 1%;
    right: 1%;
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;

    width: 98%;
    height: 2.5rem;

    background-color: transparent;

    opacity: 1;
    visibility: visible;

    z-index: 100;
  }

  .tela-menu .menu {
    margin: 0;
    background: var(--white);
    width: fit-content;
    height: 2.5rem;

    border-radius: 0.375rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }

  .menu .title {
    font: 400 1.1rem "Ubuntu", sans-serif;
    color: var(--black);
  }

  .tela-menu .menu ul {
    margin: 0 1rem 0 1rem;
    display: flex;
    gap: 2rem;
    padding: 0;
    color: var(--black);
  }

  .tela-menu .menu a.title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    cursor: pointer;
  }

  #footer section p {
    margin: 0;

    font: 700 0.8rem "Ubuntu", sans serif;
    color: var(--black);
  }
}

@media (min-width: 1200px) {
}
